{{#>introduction}}
    {{{site.introduction.html}}}
{{/introduction}}

{{#>main}}
    <section class="section-content section-site-content md-content">
        {{{site.content.html}}}
    </section>
    <section class="section-projects">
        {{>projects-grid projects=projects}}
    </section>
    <section class="section-services">

    </section>
    <section class="section-articles">

    </section>
{{/main}}


