<header id="site-header">
    <div class="header-inner">
        <a href="/" class="site-logo">
            <img csrc="{{{cloudinaryUrl site.logo_image}}}" alt="{{site.name}} logo">
        </a>
        <a href="/" class="site-name">
            {{site.name}}
        </a>
    </div>
</header>
