<header id="site-header" class="section-introduction">
    <div class="inner inner-width-limit">
            <a href="/" class="site-logo">
                <img csrc="{{{cloudinaryUrl site.logo_image}}}" alt="{{site.name}} logo">
            </a>
            <a href="/" class="site-name">
                {{site.name}}
            </a>
        </div>
</header>