body {
    font-family: var(--font-family-default);
    font-size: var(--font-size-normal);
    color: var(--color-normal);
}

::selection {
    background: rgba(12,0,206,.6);
    color: rgba(255,255,255,.8)
}

h1 {
    font-size: var(--font-size-heading-one);
    color: var(--color-strong);
}

h2 {
    font-size: var(--font-size-heading-two);
    color: var(--color-strong);
}

h3 {
    font-size: var(--font-size-heading-three);
}

h1 a, h2 a, h3 a {
    font-size: inherit;
}

h1 a,
h1 a:link,
h1 a:active,
h1 a:visited {
    font-size: var(--font-size-heading-one);
    color: inherit;
}

h2 a,
h2 a:link,
h2 a:active,
h2 a:visited {
    font-size: inherit;
    color: inherit;
}

a {
    color: var(--color-link-normal);
    text-decoration: underline;
    text-transform: lowercase;
}

a:link {
    color: rgba(12, 0, 206, 1);
}

a:link:before {
    content: ":";
}

a:visited {
    color: var(--color-link-visited);
}

p a:visited:hover {
    border-color: var(--color-link-visited-underline);
}

p a:hover {
    border-color: var(--color-link-hover-underline);
}
